<html>
<head>
        <link rel="stylesheet" href="/resources/about_page.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/resources/about_page.js"></script>
</head>
<body>
  <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" height="168" width="168"></img>
    <h1>About The Creators</h1>
      <ul id = "nav-bar">
        <li><a href="default.asp">Home</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
<h2>Reese Robinson</h2>
<h2>Kevin Bryson</h2>
<h2>Kevin Bautista</h2>
<h2>Nicole Jarmula</h2>
</body>
</html>
