<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/resources/about_page.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/about_page.js"></script>
</head>

<body>
  </br>
  </br>
  <center>
    <div class="header">
      <img id="logo" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" height="168" width="168"></img>
      <h1> About The Creators </h1>
      <ul id="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </center>
  </br>
  </br>
  </br>
  </br>

  <center>
    <div class="first expandable">
      <p>Kevin Bautista</br>
        <small> Description 1 </small></p>
    </div>
    <div class="second expandable">
      <p>Kevin Bryson</br>
        <small> Description 2 </small></p>
    </div>
    <div class="third expandable">
      <p>Nicole Jarmula</br>
        <small> Description 3 </small></p>
    </div>
    <div class="fourth expandable">
      <p>Reese Robinson</br>
        <small> My name is Reese Robinson. I will be attending Morehouse College as a Mechanical Engineering Major!</small></p>
    </div>
  </center>
</body>

</html>
