<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/resources/about_page.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/about_page.js"></script>
</head>

<body>
  </br>
  </br>
  <center>
    <div class="header">
      <img id="logo" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" height="168" width="168"></img>
      <h1> About The Creators </h1>
      <ul id="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </center>
  </br>
  </br>
  </br>
  </br>

  <center>
    <div class="first expandable">
      <p>Kevin Bautista</br>
        <small> Hello, my name is Kevin Bautista and I will be attending Depauw University in less then 2 weeks. I enjoy swimming, spending time with family and friends, and living life to the fullest.</small></p>
    </div>
    <div class="second expandable">
      <p>Kevin Bryson</br>
        <small> My name is Kevin Bryson, I will be attending Morehouse College as a Computer Science major and I like listening to music.</small></p>
    </div>
    <div class="third expandable">
      <p>Nicole Jarmula</br>
        <small> Hey there! My name is Nicole, and I'm heading to Harvard this fall! I love foreign languages, sleeping, and literally anything involving chocolate!</small></p>
    </div>
    <div class="fourth expandable">
      <p>Reese Robinson</br>
        <small> My name is Reese Robinson. I will be attending Morehouse College as a Mechanical Engineering Major! I like to hang out with my friends and play sports on my down time.</small></p>
    </div>
  </center>
</body>

</html>
