<html>
<head>
    <style>
      body{
          background-image: url("http://www.walldevil.com/wallpapers/a68/plain-blue-wallpaper-gradient-wallpapers.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          }
    </style>
        <link rel="stylesheet" href="/resources/twitter_shade.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/resources/twitter_shade.js"></script>
</head>
<body>
  <h1>Welcome to Twitter Shade!</h1>
  <ul id = "nav-bar">
    <li><a href="default.asp">Home</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</body>
</html>
