<html>
<head>
    <style>
      body{
          background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjLjrvyu7bVAhUJ54MKHV6-B90QjRwIBw&url=http%3A%2F%2Fwallpaperswide.com%2Flight_background-wallpapers.html&psig=AFQjCNFKHgmFUzOsESmH-PJ076b2qP9sOg&ust=1501690490375436");
          background-repeat: no-repeat;
          background-attachment: fixed;
          }
    </style>
        <link rel="stylesheet" href="/resources/twitter_shade.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/resources/twitter_shade.js"></script>
</head>
<body>
  <h1>Welcome to Twitter Shade!</h1>
  <ul id = "nav-bar">
    <li><a href="default.asp">Home</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</body>
</html>
