<html>
<head>
  <link rel="stylesheet" href="/resources/twitter_shade.css"></link>
  <link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/twitter_shade.js"></script>
  <style>
  body{

    background-image: url("https://images8.alphacoders.com/473/473471.jpg");
}
</style>
</head>
<body>
  <h1>Welcome to Twitter Shade!<h1>
</body>
</html>
