body {
    background-image: url("http://www.walldevil.com/wallpapers/a68/plain-blue-wallpaper-gradient-wallpapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    max-width: 600px;
  }
.header {
  display: inline-block;
}
#logo {
  float:left;
  display: inline-block;
}
 h1 {
  display: inline;
  font-family: 'Ubuntu', sans-serif;
  font-style: bold;
  list-style-type: none;
  font-size: 75px;
  color: #ccccff;

  margin: 10px 0 0 0;
}
#nav-bar {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 100px;
    font-size: 20px;
    background-color: #66b3ff;
}
#nav-bar li a{
    display: block;
    color: white;
    font-family: helvetica;
    font-style: italic;
    text-decoration: none;
    padding: 14px 20px;
  }

#nav-bar li a:hover {
    background-color: #cce6ff;
    border-radius: 20px;
  }
h2 {
  border-style: groove;
  border-radius: 5px;
  border-width: 7px;
  width: 100px;
  display: inline;
}

.expandable {
  max-width: 600px;
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 50px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  width: 600px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
small {
  opacity: 0;
  font-size: 18px;
}
.show-description p{
  height: 150px;
}
.show-description small{
  opacity: 1;
}
.first {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png");
}
.second {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png");
}
.third {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png");
}
.fourth {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png");
}
